{% extends 'timesheets/base.html' %}

{% block title %}Home - Time Sheet App{% endblock %}

{% block content %}
<h1>Dashboard</h1>
<p>Welcome, {{ user.first_name }} {{ user.last_name }}!</p>

<h1>Your most recent entries</h1>
<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Hours</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in time_entries %}
        <tr>
            <td>{{ entry.date }}</td>
            <td>{{ entry.hours_to_be_paid }}</td>
            <td><a href="{% url 'time_entry_detail' entry.id %}">View</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}